.orderan .tabel-card{
    height: 70vh;

    /* HANYA SCROLL ATAS BAWAH */
    overflow-y: auto;

    /* MATIKAN SCROLL KANAN KIRI */
    overflow-x: hidden;
}

.orderan .tabel-card thead th{
    position: sticky;
    top: 0;

    background: var(--color-white);
    z-index: 2;
}

/* TABLE FULL */
.orderan .tabel-card table{
    width: 100%;
    border-collapse: collapse;
}

/* POPUP */
.popup.show{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup-content-orderan{
    padding: var(--card-padding);
    border-radius: 12px;
    background: var(--color-background);

    width: 70rem;
    height: 60rem;
}
.form-orderan-grid {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}
.form-orderan-1 {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;

    gap: 1rem;

    height: 16rem;
}
.form-orderan-1,
.orderan-table-container-stiker {
    display: flex;
    flex-direction: column;

    background: var(--color-white) ;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);

    transition: all 300ms ease;
}
.form-orderan-1-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}
.form-orderan-1-2{
    display: flex;
    flex-direction: column;
}

.form-orderan-1-kiri {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.form-orderan-1-kiri label{
    text-align: right;
    width: 100%;
}
.orderan-table-container-stiker {
    height: 31rem;
}

.form-orderan-1-kanan{
    display: flex;
    gap: 1.6rem;
}
.form-orderan-1-kanan-1,
.form-orderan-1-kanan-2,
.form-orderan-1-kanan-3{
    display: grid;
    gap: 1rem;
}

.orderan .popup-actions {
    margin-top: 0;
}
