.add-btn,
.popup-actions button{
    color: var(--color-info-dark);
    background: var(--color-white-input);
    border: none;
    padding: 12px 18px;
    border-radius: var(--border-radius-2);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 1rem 2rem var(--color-light);;
    transition: all 300ms ease;
}

.add-btn:hover,
.popup-actions button:hover,
.actions button:hover{
    box-shadow: none;
    color: var(--color-primary);
}

.add-btn.active {
    color: white;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.actions button{
    background: var(--color-background);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.actions button span{
    color: var(--color-dark-variant);

    font-size: 1.1rem;
}

.actions button span:hover {
    color: var(--color-primary);
}

/*POPUP*/
.popup{
    position: fixed;
    inset: 0;

    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.5);

    z-index: 1000;
}

.popup.active{
    display: flex;
}

.popup-content-hapus,
.popup-content-edit{
    padding: var(--card-padding);
    border-radius: 12px;
    background: var(--color-background);

}

.popup-content-hapus{
    width: 30rem;
}


.popup-content-edit{
    width: 70rem;
    height: 32rem;
}


.popup-actions{
    display: flex;
    justify-content: end;
    gap: 1.6rem;

}

.popup-actions button{
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.form-grid {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 1.6rem;
}

.form-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;

    margin-bottom: 1px;
}

.form-group input:not([type="radio"]),
.form-group select {
    padding: 12px;

    border: 1px solid #dcdcdc;
    border-radius:  var(--border-radius-2);

    outline: none;
    background: var(--color-white);
    width: 100%;

    font-size: 14px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    cursor: text;
}

.popup-actions{
    display: flex;
    justify-content: end;
    gap: 10px;

    margin-top: 20px;
}

.popup-actions button{
    padding: 10px 16px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.popup-content {
    background: var(--color-background);
}

.password-box{
    position: relative;
}

.password-box input{
    width: 100%;
    height: 45px;
    padding: 0 45px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.toggle-password{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}
.form-left {
    margin-top: 1rem;
    background: var(--color-white) ;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.form-right{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1rem;
    margin-top: 1rem;
    background: var(--color-white) ;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.form-right button{
    padding: 10px 16px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.password-box span {
    color: var(--color-dark-variant);
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box {
    width: 17.2rem;
    height: 13rem;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.image-box img {
    max-width: 17.2rem;
    max-height: 13rem;

    object-fit: contain;
}

.image-box .input-file{
    display: none;
}

/*CUSTOM SELECT*/
.custom-select {
    width: 100%;
    position: relative;
    font-family: var(--jenis-font), serif;
    margin-right: 0;

    border: 1px solid #dcdcdc;
    border-radius:  var(--border-radius-2);

}

.select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 12px;
    cursor: pointer;
}

.options {
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    border: 1px solid #dcdcdc;
    overflow: hidden;
    display: none;
    z-index: 10;
}

.option {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    color: var(--color-dark);

}

.option:hover {
    background: var(--color-light);
    color: var(--color-primary);
    padding-left: 1rem;
}

.arrow {
    margin-left: auto;
}

/* saat dropdown aktif */
.custom-select.active .arrow {
    transform: rotate(180deg);
}

#selectedText {
    flex: 1;
    text-align: left;
}

#selectedText.empty {
    color: #999;
}

/* Radio */
.form-group-radio{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.radio-item{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.radio-item input[type="radio"]{
    appearance: auto !important;
    -webkit-appearance: radio !important;
    -moz-appearance: radio !important;

    width: 16px;
    height: 16px;
    margin: 0;

    accent-color: var(--color-primary);
    cursor: pointer;
}