<div class="popup" id="popup-data-order">
    <div class="content-popup-data-order">
        <form id="form-data-order">
            <div class="form-data-order-atas">
                <div class="form-data-order-atas-kiri">
                    <h2>Data Orderan</h2>
                </div>
                <div class="form-data-order-atas-kanan">
                    <label id="data-order-tanggal">Tanggal Orderan</label>
                    <label id="data-order-faktur">Faktur</label>
                    <label id="data-order-jumlah">10 Lembar</label>
                </div>
            </div>
            <div class="form-data-order-grid">
                <div class="form-data-order-grid-kiri" id="form-data-order-grid-kiri">
                    <div class="form-data-order-grid-kiri-atas">
                        <label>Nama Usaha</label>
                        <label>:</label>
                        <label id="data-order-nama-usaha">Nama Usaha</label>

                        <label>Nama Pemilik</label>
                        <label>:</label>
                        <label id="data-order-nama-pemilik">Nama Pemilik</label>

                        <label>Instagram</label>
                        <label>:</label>
                        <label id="data-order-instagram">@instagram</label>

                        <label>Kontak</label>
                        <label>:</label>
                        <label id="data-order-kontak">0852</label>
                    </div>
                    <div class="form-data-order-grid-kiri-bawah">
                        <button type="button" id="btn-umkm-data-order">Pilih UMKM</button>
                    </div>
                </div>
                <div class="form-data-order-grid-kanan" id="form-data-order-grid-kanan">
                        <div id="data-order-stiker-list" class="data-order-stiker-list"></div>
                        <button type="button" id="btn-stiker-data-order">Tambah Stiker</button>
                </div>
            </div>
            <div class="popup-actions">
                <button type="button" id="btn-simpan-data-order">Simpan</button>
                <button type="button" id="btn-batal-data-order">Batal</button>
            </div>
        </form>
    </div>
</div>