<div class="popup" id="popup-lihat-stiker">
    <div class="popup-content-lihat-stiker">
        <form id="form-popup-lihat-stiker">
            <div class="popup-lihat-stiker-grid">
                <div class="popup-lihat-stiker-data">
                    <h3>Data Stiker</h3>
                    <div class="popup-lihat-stiker-data-content">

                        <label>Kode Stiker</label>
                        <label>:</label>
                        <label id="lihat-stiker-kode">STK001</label>

                        <label>Nama Stiker</label>
                        <label>:</label>
                        <label id="lihat-stiker-nama">Nama Stiker</label>

                        <label>Ukuran Stiker</label>
                        <label>:</label>
                        <label id="lihat-stiker-ukuran">10 x 5 cm</label>

                        <label>Status Stiker</label>
                        <label>:</label>
                        <label id="lihat-stiker-status">Aktif</label>

                        <label>Catatan</label>
                        <label>:</label>
                        <label id="lihat-stiker-catatan">Catatan</label>

                    </div>
                    <!-- GAMBAR 1 -->
                    <div class="lihat-stiker-desain-item-1">
                        <!-- PREVIEW -->
                        <div class="preview-container"
                             id="preview-container-1">

                            <div class="loading-spinner"></div>

                            <img
                                    id="popup-lihat-stiker-gambar-1"
                                    class="preview-img"
                                    src=""
                                    alt="gambar"
                            >
                        </div>
                    </div>
                </div>
                <div class="popup-lihat-stiker-gambar">
                    <h3>Desain Stiker</h3>

                    <div class="desain-list">



                        <!-- GAMBAR 2 -->
                        <div class="lihat-stiker-desain-item-2">
                            <!-- PREVIEW -->
                            <div class="preview-container"
                                 id="preview-container-2">

                                <div class="loading-spinner"></div>

                                <img
                                        id="popup-lihat-stiker-gambar-2"
                                        class="preview-img"
                                        src=""
                                        alt="gambar"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-actions">
                <button type="button" id="tutup-popup-lihat-stiker">Tutup</button>
            </div>
        </form>
    </div>
</div>